[submodule "libraries/libc/musl"]
	path = libraries/libc/musl
	url = https://github.com/aggregion/musl.git
	branch = agrio
[submodule "libraries/libc++/libcxx"]
	path = libraries/libc++/libcxx
	url = https://github.com/aggregion/libcxx.git
	branch = agriosdk
[submodule "agrio_llvm"]
	path = agrio_llvm
	url = https://github.com/aggregion/llvm.git
